.check{
    background-color: white;
    width: 50;
    height: 30;
    color: black;
    border: black solid 1px;
    border-radius: 10px;
}

.check:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}

.translator{
    background: rgba(229, 245, 0, 0.6);
    color: black;
    border-radius: 10px;
    text-align: center;
    position: absolute;
}

.translation_icon{
    width: 25;
    height: 25;
    position: absolute;
}